# dependencies
/node_modules

# testing
/coverage

# built Code
/public/dist

# terraform
/deployment/.terraform
/deployment/.terraform.lock.hcl
/deployment/terraform.tfstate
/deployment/terraform.tfstate.backup

npm-debug.log*