.header {
    font-size: large;
    padding-top: 20px;
    text-wrap: wrap;

    @media screen and (max-width: 719px) {
        font-size: medium;
    }

    .title {
        width: 100%;

        h1 {
            font-family: fantasy;
            font-weight: bolder;
            margin: 0;
            margin: auto;
            padding-right: 3%;
            text-align: center;
            text-decoration: underline;
            text-wrap: nowrap;
        }

        .logo {
            display: inline;
            height: 15%;
            width: 30%;
            margin-bottom: -3%;
        }
    }

    .greta {
        font-weight: lighter;
        padding-left: 3%;
        padding-right: 3%;
        text-wrap: balance;
    }

    .nav-container {
        @media screen and (max-width: 719px) {
            display: inline-block;
        }
      
          @media screen and (min-width: 720px) {
            display: block;
        }

        hr {
            border: 1px solid #753209e3;
        }

        .nav-button {
            border: black 1px;  
            border-radius: 17px;  
            box-shadow: 5px 5px 5px -2px #753209e3;
            height: 30px;
            margin: 1%;
            margin-top: 1em;
            min-width: 75px;
            padding-left: 7px;
        }
    }
}
