.warming-table {
    align-items: left;
    border-collapse: collapse;
    box-shadow: 0px 0px 0px 0px #753209e3;
    display: inline-block;
    font-size: 10pt;
    margin-bottom: 15px;
    margin: 0;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;

    .no-background {
        background-color: bisque;
        td {
            border: none;
        }
    }

    tbody {
        @media screen and (max-width: 719px) {
            background-color: bisque;

            td {
                border: none;
            }
        }

        @media screen and (min-width: 720px) {
            background-color: white;

            td {
                border: 1px solid #753209e3;;
            }
        }
    }

    td {
        border: 1px solid #753209e3;
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: 10px;
    }

    .median-cell {
        padding-top: 12px;
    }

    .select {
        border-radius: 12px;
        font-size: 10pt;
        height: 30px;
        min-width: 35px;
        border: black 1px;  
        border-radius: 17px;  
        padding-left: 7px;
        flex: space-around;
        margin: 1%;
        margin-top: 1em;
        box-shadow: 5px 5px 5px -2px #753209e3;
    }

    .range-container {
        @media screen and (max-width: 719px) {
            display: inline-block;
        }
      
        @media screen and (min-width: 720px) {
            display: block;
        }
    }

    .text-size {
        @media screen and (max-width: 719px) {
            font-size: x-large;
        }
      
        @media screen and (min-width: 720px) {
            font-size: large;
        }
    }

    .estimate-button {
        border: black 1px;  
        border-radius: 17px;  
        box-shadow: 5px 5px 5px -2px #753209e3;
        height: 30px;
        margin: 1%;
        margin-top: 1em;
        min-width: 35px;
        padding-left: 7px;
    }

    .selected-button {
        background-color: bisque;
        border-radius: 17px;
        color: black;
        height: 30px;
        margin: 1%;
        margin-top: 1em;
        min-width: 35px;
        padding-left: 7px;
    }
}

.table-ready {
    margin-top: 10px;
}

.red-text {
    background-color: orange;
    color: black;
    font-weight: bolder;
}

